@layout-header-background: rgb(255, 255, 255);

.big-font {
  font-size: 2em;
  font-weight: bolder;
}

.ant-menu {
  border-bottom: 0px;
}

.no-border {
  border: 0;
}

.no-boxshadow {
  box-shadow: 0 0;
}

a {
  text-decoration: none;
}