@layout-header-background: rgb(255, 255, 255);

html {
  height: 100%;
}
body {
  height: 100%;
}
#__nuxt {
  min-height: 100%;
  display: flex;
  max-width: 100%;
}
#__layout {
  flex: 1;
  max-width: 100%;
}

.ant-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.login-form-forgot {
  float: right;
}

.login-avatar {
  margin-top: -6.5em;
  height: 8em;
  margin-bottom: 1.05em;
}

.login-avatar img {
  display: block;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.big-font {
  font-size: 1.5em;
  font-weight: 400;
  color: #8821fb;
}

.menu-button {
  margin-bottom: 16px;
  border: 0px;
  margin-right: -1em;
}

.no-border {
  border: 0;
}

.no-boxshadow {
  box-shadow: 0 0;
}

a {
  text-decoration: none;
}

/**
* 标准 header 样式配置
*/
.menu-site {
  .ant-menu {
    border-bottom: 0;
  }

  .ant-menu-item,
  .ant-menu-submenu {
    border-bottom: 0;
    border-top: 2px solid transparent;
  }

  .ant-menu-item:hover,
  .ant-menu-submenu:hover,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-item-open,
  .ant-menu-submenu-open,
  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    border-bottom: 0;
    border-top: 2px solid #1890ff;
  }

  float: right;
  border-bottom: 0;
}

.ant-menu-vertical>.ant-menu-item,
.ant-menu-vertical>.ant-menu-submenu {
  border-right: 0;
  border-left: 3px solid transparent;
}

.ant-menu-vertical>.ant-menu-item-selected,
.ant-menu-vertical>.ant-menu-item:hover,
.ant-menu-vertical>.ant-menu-submenu:hover {
  border-right: 0;
  border-left: 3px solid #1890ff;
}

.menu-site > li {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.hitokoto-header-drawer .ant-drawer-body {
  padding: 0;
}
.hitokoto-header {
  max-width: 1200px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto 0;
}

/**
* 主页 样式配置
*/
.home-layout {
  background-image: url(https://piccdn.freejishu.com/images/2018/03/11/qf3cu.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
// 透明化 header
.home-header-outer {
  background-color: transparent;
}
.home-header {
  background-color: transparent;
  .ant-row {
    background-color: transparent;
  }
}
.home-menu-site {
  background-color: transparent
}

.home-header {
  box-shadow: none;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0;
  padding: 0 24px;
}


.home-menu-site > li {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.home-menu-site {
  .ant-menu-item,
  .ant-menu-submenu {
    border-bottom: 0;
    border-top: 2px solid transparent;
  }

  .ant-menu-item:hover,
  .ant-menu-submenu:hover,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-item-open,
  .ant-menu-submenu-open,
  .ant-menu-item-selected,
  .ant-menu-submenu-selected {
    border-bottom: 0;
    border-top: 2px solid transparent;
  }

  float: right;
  border-bottom: 0;
}

/**
* Aplayer 样式配置
*/
.aplayer {
  box-sizing: content-box;
}

.aplayer-miniswitcher, .aplayer-body, .aplayer-button {
  box-sizing: content-box;
}

.aplayer.aplayer-fixed .aplayer-lrc {
  text-shadow: 0;
}

/**
* Content Page
*/
.table {
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  word-wrap: break-word;
  margin-bottom: 20px;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  // Nesting
  .table {
    background-color: #fff;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
}

.table-hover {
  > tbody > tr:hover {
    background-color: #f5f5f5;
  }
}

.markdown-content {
  blockquote {
    p {
      margin-bottom: 0
    }
    border-left: 5px solid #1abc9c;
    padding-left: 1em;
    padding-top: .3125em;
    padding-bottom: .3125em;
    background: #e6fffa;
    color: #00a777;
  }
  table {
    .table();
    .table-striped();
    .table-hover();
    background-color: transparent;

    // Table cell sizing
    //
    // Reset default table behavior

    col[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      display: table-column;
      float: none;
    }

    td,
    th {
      &[class*="col-"] {
        position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
        display: table-cell;
        float: none;
      }
    }
  }

  caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
  }

  th {
    text-align: left;
  }
}
.markdown-content{
  img {
    width: 65%;
  }
  pre {
    white-space: pre;
    overflow: auto;
  }
}
@media screen and (max-width: 768px) {
  .markdown-content {
    img {
      width: 100%;
    }
  }
}
